body {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  color: #ccc;
  background-color: #242832;
}

pre {
  font-family: "Source Code Pro", Monaco, Consolas, "Courier New", monospace;
}

.applicationMenu {
  background-color: #333;
}
.applicationMenuItem {
  background-color: #333;
}
.applicationMenuItem:hover {
  background-color: #468;
}
.applicationMenuItemDisabled {
  color: #888;
  cursor: default !important;
}

.applicationMenuItemFile {
  cursor: pointer;
}
.applicationMenuItemFolder {
  cursor: default;
}

.applicationMenuItemLabel {
  display: inline-block;
  padding: 7px;
}

.applicationMenuItemFolderContainer {
  position: absolute;
  border-style: solid;
  border-color: #555;
  border-width: 1px;
  white-space: nowrap;
}

.terminal {
  background-color: #202428;
}

.commandLine {
  padding:0px;
  border-style:none;
  outline:none;
  color:white;
  background:none;
}
.commandLine:focus {
  background-color: #202428;
}

.hint {
  position:fixed;
  top:5%;
  left:50%;
  transform:translate(-50%,-50%);
  color:white;
  background-color:#8888;
  padding:10px;
  border-radius:10px;
}

.popup {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 10px;
  background-color: #333;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px;
  border-radius: 3px;
}

.disableUserSelect {
  user-select: none;
}

.nsResize {
  cursor:ns-resize;
}
.ewResize {
  cursor:ew-resize;
}
.nwseResize {
  cursor:nwse-resize;
}

.draggable {
  cursor: grab;
}

.draggingInProgress {
  pointer-events: none;
}

.highlightTransition {
  transition-duration: 0.1s;
  transition-property: background-color, stroke;
}

.highlight {
  background-color: white !important;
  stroke: white !important;
}

.highlightLink {
  stroke-width: 4px !important;
  filter: contrast(0.35) brightness(1.5);
}

.fileBoxBackground {
  background-color: #002040c0;
}
.folderBoxBackground {
  background-color: #102040a0;
}
.sourcelessBoxBackground {
  background-color: #202040c0;
}

.boxBorder {
  position:absolute;
  width:100%;
  height:100%;
  pointer-events: none;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
}
.boxBorderWithMapData {
  border-color: slategrey;
}
.boxBorderWithoutMapData {
  border-color: slateblue;
}

.boxHeader {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: 1px solid #404040a0;
}
.fileBoxHeader {
  background-color: steelblue;
}
.folderBoxHeader {
  background-color: slategrey;
}
.sourcelessBoxHeader {
  background-color: darkorange;
}

.boxHeaderInner {
  word-wrap: break-word;
  padding: 2px;
  color: #ddd;
}

.boxBodyZoomInToRenderHint {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.boxBodyZoomInToRenderHintText {
  position: absolute;
  top: 50%;
  padding-left: 5px;
  color: #8888;
}

.fileBoxBodyText {
  margin: 0px;
  padding-top: 30px;
  padding-left: 5px;
}
