body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  color: #ccc;
  background-color: #242832;
}

.terminal {
  background-color: #202428;
}

.commandLine {
  padding:0px;
  border-style:none;
  outline:none;
  color:white;
  background:none;
}
.commandLine:focus {
  background-color: #202428;
}

.nsResize {
  cursor:ns-resize;
}
.ewResize {
  cursor:ew-resize;
}
.nwseResize {
  cursor:nwse-resize;
}

.draggable {
  cursor: grab;
}

.draggingInProgress {
  pointer-events: none;
}

.highlight {
  background-color: white !important;
  stroke: white !important;
}

.highlightBox {
  background-color: #2060a080 !important;
}

.fileBox {
  background-color: #002060c0;
}

.folderBox {
  background-color: #102040a0;
}

.fileBoxHeader {
  padding: 2px;
  color: #ddd;
  background-color: steelblue;
}

.folderBoxHeader {
  padding: 2px;
  color: #ddd;
  background-color: slategrey;
}

.boxBorderLine {
  background-color: slategrey;
}
.boxBorderLineNoMapData {
  background-color: red;
}
